<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
</head>

<body>
    <div id='categories'>
        <div id='yes'>
            <button class='ibutton btn btn-primary btn-block' id="plusyes" onclick="plusyes()">+Yes</button>
            <button class='ibutton btn btn-danger btn-block' id="minusyes" onclick="minusyes()">-Yes</button>
            <input class="form-control" oninput="calc()" id="yesnum" value="0">
        </div>
        <div id="no">
            <button class='ibutton btn btn-primary btn-block' id="plusno" onclick="plusno()">+No</button>
            <button class='ibutton btn btn-danger btn-block' id="minusno" onclick="minusno()">-No</button>
            <input class="form-control" oninput="calc()" id="nonum" value="0">
        </div>
        <div id="np">
            <button class='ibutton btn btn-primary btn-block' id="plusnp" onclick="plusnp()">+NP</button>
            <button class='ibutton btn btn-danger btn-block' id="minusnp" onclick="minusnp()">-NP</button>
            <input class="form-control" oninput="calc()" id="npnum" value="0">
        </div>
    </div>
    <div id="calcs">
        <div id="cic">
            <h1><u>CIC</u></h1>
            <h2 id="cicnum">0.00%</h2>
        </div>
        <div id="diff">
            <h1><u>Diff</u></h1>
            <h2 id="diffnum">0</h2>
        </div>
    </div>
    <form action="/" method="POST">
        <div style="display: none;">
            <input name="yes" class="form-control" id="yesnum2" value="0">
            <input name="no" class="form-control" id="nonum2" value="0">
            <input name="np" class="form-control" id="npnum2" value="0">       
        </div>
        <button type="submit" class="btn btn-primary" style="color: white;">Publish</button>
        <a class="btn btn-primary" style="color: white;">Rundown</a>
    </form>
    <script>


        function calc() {
            let yes = parseInt(document.getElementById("yesnum").value)
            let no = parseInt(document.getElementById("nonum").value)
            let np = parseInt(document.getElementById("npnum").value)

            document.getElementById("yesnum2").value = document.getElementById("yesnum").value
            document.getElementById("nonum2").value = document.getElementById("nonum").value
            document.getElementById("npnum2").value = document.getElementById("npnum").value


            let denom = yes + no + np
            if (denom == 0) {
                denom = 1
            }
            let cic = ((yes / denom) * 100).toFixed(2)
            document.getElementById("cicnum").innerHTML = String(cic) + "%"

            let diff = yes - no - np
            if (diff < 1) {
                document.getElementById("diffnum").innerHTML = diff
            }
            else {
                document.getElementById("diffnum").innerHTML = "+" + String(diff)
            }

            console.log("CIC: ", yes, '/', denom, '=', cic)
        }



        function plusyes() {
            let num = parseInt(document.getElementById("yesnum").value)
            document.getElementById("yesnum").value = num + 1
            calc()
        }
        function minusyes() {
            let num = parseInt(document.getElementById("yesnum").value)
            if (num != 0) {
                document.getElementById("yesnum").value = num - 1
            }
            calc()
        }
        function plusno() {
            let num = parseInt(document.getElementById("nonum").value)
            document.getElementById("nonum").value = num + 1
            calc()
        }
        function minusno() {
            let num = parseInt(document.getElementById("nonum").value)
            if (num != 0) {
                document.getElementById("nonum").value = num - 1
            }
            calc()
        }
        function plusnp() {
            let num = parseInt(document.getElementById("npnum").value)
            document.getElementById("npnum").value = num + 1
            calc()
        }
        function minusnp() {
            let num = parseInt(document.getElementById("npnum").value)
            if (num != 0) {
                document.getElementById("npnum").value = num - 1
            }
            calc()
        }
    </script>
</body>