html, body {
    height: 100%;
}

body {
    padding-top: 30px;
    padding-left: 60px;
    background-image: url("../images/Old_Navy_Logo.png");
    background-size: 30%;
}
#trans {
    background-color: white;
}
#categories {
    margin: auto;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 40px;
}
#on {
    width: 40%;
    margin: auto;
}
#rundowngrid{
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: white;
    overflow-y:auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#susgrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: white;
}
#up {
    color: darkgreen;
}
#down {
    color: darkred;
}
/* Hide scrollbar for Chrome, Safari and Opera: */
#rundowngrid::-webkit-scrollbar {
    display: none;
  }
@media screen and (max-width: 600px) {
    body {
        margin-right: 5px;
        margin-left: -40px;
    }
    #categories {
        grid-template-columns: 300px;
    }
    .ibutton {
        font-size:1em;
    }
  }